{% extends "ragApp/layout.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="max-w-md mx-auto bg-gray-800 p-6 rounded-lg shadow-lg mt-10">
    <h2 class="text-2xl font-semibold text-center text-accent">Welcome, {{ user.first_name }}</h2>
    <p class="text-center text-gray-400">Username: {{ user.username }}</p>
    <p class="text-center text-gray-400">Name: {{ user.first_name }}</p>
    <p class="text-center text-gray-400">Last Name: {{ user.last_name }}</p>
    <p class="text-center text-gray-400">Email: {{ user.email }}</p>
    <p class="text-center text-gray-400">Date Joined: {{ user.date_joined }}</p>

</div>
{% endblock %}
